/* 
Notes for retro-mimeo.css (v1)

    Theme Design by LMP3 for WWW.LMP3.DEV

    Style Inspired by the Mimeograph / Spirit Duplicator
        https://en.wikipedia.org/wiki/Mimeograph
        https://en.wikipedia.org/wiki/Spirit_duplicator
        https://en.wikipedia.org/wiki/Mauveine

    Preferred Color Model Used:
        hsla(hue, saturation, lightness, alpha)
        https://en.wikipedia.org/wiki/HSL_and_HSV
        https://web-toolbox.dev/en/tools/color-converter

    'Mauveine' = hex #8D029B, hsla(295, 97%, 31%, 1)
        Analogous to 'Mauvine' (red-er) = #9B015C, hsla(325, 99%, 31%, 1) [Visited Links?]
        Analogous to 'Mauvine' (blue-er) = #40019B, hsla(265, 99%, 31%, 1) [Links?]
        Split Complementary to 'Mauvine' (red) = #9b1302, hsla(6, 97%, 31%, 1)
        Split Complementary to 'Mauvine' (green) 'CRT-Green'* = #029b50, hsla(151, 97%, 31%, 1)
            Split Complementary to 'CRT-Green'* (blue) 'CRT-Blue'* = #0983b0, hsla(196, 90%, 36%, 1)
            Split Complementary to 'CRT-Green'* (red) 'CRT-Red'* = #b00940, hsla(340, 90%, 36%, 1)
    'Parchment' = hex #F1E9D2, hsla(45, 53%, 88%, 1) ['Parchment' is lighter than 'Old Paper']
        5% lighter = #F7F2E5, hsla(43, 53%, 93%, 1)
        10% lighter = #FDFCF8, hsla(48, 55%, 98%, 1)
        5% darker = #EADFBE, hsla(45, 51%, 83%, 1)
        10% darker = #E4D5AB, hsla(44, 51%, 78%, 1)
    'Old Paper' = hex #E0C9A6, hsla(36, 48%, 76%, 1)
        5% lighter = #E6D4B8, hsla(37, 48%, 81%, 1)
        10% lighter = #EDDFCB, hsla(35, 49%, 86%, 1)
        5% darker = #D9BD93, hsla(36, 48%, 71%, 1)
        10% darker = #D2B280, hsla(37, 48%, 66%, 1)
    'Rosy Brown' = #BC8F8F, hsla(0, 25%, 65%, 1) [Paper edges]
    'Tuscan Brown' = #6F4E37, hsla(25, 34%, 33%, 1) [Paper edges]
    
    *Color names I made up.
    °
    
*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: linear-gradient(to top left, hsla(295, 97%, 31%, 0.7)/* 'Mauveine' */, hsla(36, 48%, 76%, 1));/* 'Old Paper' */
    background-repeat: repeat;
}

img {
    display: block;
    max-width: 100%;  /*  Good Practice, as why would stretched out images would ever normally be desired? */
}

nav {
    margin: 1rem;
}

main {
    margin: 1rem;
}

a {
    color: hsla(265, 99%, 31%, 1);  /*  'Mauveine (blue-er)' = #40019B  */
}

a:visited {
    color: hsla(325, 99%, 31%, 1);  /* 'Mauvine (red-er)' = #9B015C  */
}

h2 {
    font-weight: bold;
    font-variant: small-caps;
    color: hsla(295, 97%, 31%, 1);  /* 'Mauveine' - #8D029B  */
    text-shadow: 2px 2px 4px hsla(0, 25%, 65%, 1);  /*  'Rosy Brown' = #BC8F8F  */
}

p {
    columns: 2;
    text-align: justify;
    color: hsla(295, 97%, 31%, 1);  /* 'Mauveine' - #8D029B  */
}

footer {
    margin: 1rem;
    color: hsla(295, 97%, 31%, 1);  /* 'Mauveine' - #8D029B  */
}


footer ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
footer li{
    list-style: none;
    font-weight: bold;
    font-variant: small-caps;
    padding: .5rem;
    color: hsla(295, 97%, 31%, 1);  /*  'Mauveine' - #8D029B  */
}

footer a {
    color: hsla(265, 99%, 31%, 1);  /*  'Mauveine (blue-er)' = #40019B  */
}

footer article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
}

.container nav {
    background-color: hsla(36, 48%, 76%, 1);  /*  'Old Paper' - #E0C9A6  */
    box-shadow: inset 0 0 .5rem hsla(25, 34%, 33%, 1);  /*  'Tuscan Brown' = #6F4E37  */
    flex-direction: row;
}

.container main {
    background-color: hsla(45, 53%, 88%, 1);  /*  'Parchment' = hex #F1E9D2  */
    box-shadow: inset 0 0 1rem hsla(0, 25%, 65%, 1);  /*  'Rosy Brown' = #BC8F8F  */
        padding: 1rem;
}

.container footer {
    background-color: hsla(36, 48%, 76%, 1);  /*  'Old Paper' - #E0C9A6  */
    box-shadow: inset 0 0 .5rem hsla(25, 34%, 33%, 1);  /*  'Tuscan Brown' = #6F4E37  */
    
}

.navbar {
    padding: 1rem;
    font-weight: bold;
    font-variant: small-caps;
}

.navbar a {
    color: hsla(265, 99%, 31%, 1);  /*  'Mauveine (blue-er)' = #40019B  */
    text-shadow: 2px 2px 4px hsla(0, 25%, 65%, 1);  /*  'Rosy Brown' = #BC8F8F  */

}

.navbar a:hover {
    color: hsla(325, 99%, 31%, 1);  /* 'Mauvine (red-er)' = #9B015C  */
    text-shadow: 2px 2px 4px hsla(25, 34%, 33%, 1);  /*  'Tuscan Brown' = #6F4E37  */
}

.navbar li {
    list-style: none;
    padding: 1rem;
    background-color: hsla(45, 53%, 88%, 1);  /*  'Parchment' = hex #F1E9D2  */
    box-shadow: inset 0 0 1rem hsla(0, 25%, 65%, 1);  /*  'Rosy Brown' = #BC8F8F  */
    margin: .5rem;
    color: hsla(295, 97%, 31%, 1);  /* 'Mauveine' - #8D029B  */
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar hgroup {
    text-align: left;
    padding-left: 16px;
    border-left: 10px solid hsla(295, 97%, 31%, 1);  /* 'Mauveine' - #8D029B  */;
}

.navbar hgroup h1 {
    margin-bottom: 0;
    color: hsla(295, 97%, 31%, 1);  /* 'Mauveine' - #8D029B  */
    text-shadow: 2px 2px 4px hsla(25, 34%, 33%, .7);  /*  'Tuscan Brown' = #6F4E37  */
}

.navbar hgroup p {
    margin: 0;
    font-weight: bold;
    color: hsla(295, 97%, 31%, 1);  /* 'Mauveine' - #8D029B  */
}

.cc img {
    height:22px!important;
    margin-left:3px;
    vertical-align:text-bottom;
}

.cc a {
    display:inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
}

