body {
    font-family: "Courier New", monospace;
    font-size: 100%;
}

header {
    background-color: teal;
}	

nav {
    background-color: tan;
}

main {
    background-color: skyblue;
    font-size: 110%;
}

footer {
    background-color: beige;
}

li {
    display: inline;
    width: 0;
}

h1 {
    text-align: center;
    font-family: "Arial", sans-serif;
    color: lime;
}
	
p {
    line-height: 110%;
}

